{% extends "main_template.html" %}
{% block content %}
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span2"></div>
		<div class="span8">
			<h2>Login</h2>
		</div>
		<div class="span2"></div>
	</div>
</div>

	<div class="span3"></div>
	<div id="login" class="span4">
	{{message}}
	
<form class="form-horizontal" method="POST">
	{% csrf_token %}
	<input type="hidden" name="next" value="{{ request.GET.next }}" />
	{% if form.errors %}
	<div class="control-group">
	<div class="alert alert-error alert-block text-center">
		Your username and password didn't match. Please try again.
	</div>
	</div>
	{% endif %}
	<div class="control-group">
		<label class="text-center">
			If you are not an AlgPedia user - <a href="/signin">SignUp</a>
		</label>
	</div>
  <div class="control-group">
    <label class="control-label" for="username">Username</label>
    <div class="controls">
      {{ form.username }}
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="password">Password</label>
    <div class="controls">
      {{ form.password }}
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      
      <button type="submit" class="btn">Sign Up</button>
    </div>
  </div>
</form>
	</div>
	<div class="span4"></div>
{% endblock %}