<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="http://localhost:8000/site_media/css/error.css">
	<title>Whoops! - Page not Found</title>
	<script src="scripts/modernizr.js"></script>	
</head>
<body>
	<section id="error-wrapper">
		<div id="error-ship"></div>
		<h2>Sorry, the page you requested cannot be found</h2>
		<h1>The Aliens Probably Took It...</h1>
		<div id="back" class="button"><a href="http://algpedia.dcc.ufrj.br">Back to AlgPedia!</a></div>
	</section>	
</body>
</html>