{% extends "main_template.html" %}
{% block content %}

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span6">
      <!--Sidebar content-->
	  <div class="span2">
			<img src="http://localhost:8000/site_media/images/lattesfoto.gif"  class="img-polaroid" style="border-style:solid;" alt="" />	
			</div>
			<div class="span10" style="text-align: left; vertical-align: middle;">
			<div>&nbsp;<strong>Nome:</strong> Joao Carlos Pereira da Silva</div>
			<div>&nbsp;<strong>Email:</strong> jcps@dcc.ufrj.br</div>
			<div>&nbsp;<a href="http://lattes.cnpq.br/9413102524215939">Lattes</a></div>
			<div>&nbsp;<strong>URL da Homepage:</strong> <a href="http://www.dcc.ufrj.br/~jcps">http://www.dcc.ufrj.br/~jcps</a></div>
			</div>	
    </div>
    <div class="span6">
      <!--Body content-->
	  <div class="span2">
			<img src="http://localhost:8000/site_media/images/carla_lattes.gif"  class="img-polaroid" style="border-style:solid;" alt="" />	
			</div>
			<div class="span10" >
			<div>&nbsp;<strong>Nome:</strong> Carla Amor Divino Moreira Delgado</div>
			<div>&nbsp;<strong>Email:</strong> carla@dcc.ufrj.br</div>
			<div>&nbsp;<a href="http://lattes.cnpq.br/3831909651244142">Lattes</a></div>
			<div>&nbsp;<strong>URL da Homepage:</strong> <a href="http://www.dcc.ufrj.br/~carla">http://www.dcc.ufrj.br/~carla</a></div>
			</div>	
    </div>
  </div>
  <div class="row-fluid">
  &nbsp;&nbsp;&nbsp;
  </div>
  <div class="row-fluid">
    <div class="span6">
      <!--Sidebar content-->
	  <div class="span2">
			<img src="http://localhost:8000/site_media/images/luiz_lattes.gif"  class="img-polaroid" style="border-style:solid;" alt="" />	
			</div>
			<div class="span10" >
			<div><strong>&nbsp;Nome:</strong> Luiz Felipe Pericolo Barbosa</div>
			<div><strong>&nbsp;Email:</strong> luizpericolo@gmail.com</div>
			</div>	
    </div>
    <div class="span6">
      <!--Body content-->
	  <div class="span2">
			<img src="http://localhost:8000/site_media/images/thais_lattes.gif"  class="img-polaroid" style="border-style:solid;" alt="" />	
			</div>
			<div class="span10" >
			<div><strong>&nbsp;Nome:</strong> Thais do Nascimento Viana</div>
			<div><strong>&nbsp;Email:</strong> thaisnviana@gmail.com</div>
			<div>&nbsp;<a href="http://lattes.cnpq.br/4383378609927065">Lattes</a></div>
			</div>
    </div>
	<div class="row-fluid">
  &nbsp;&nbsp;&nbsp;
  </div>
	<div class="row-fluid">
	<div class="span6">
      <!--Body content-->
	  <div class="span2">
			<img src="http://localhost:8000/site_media/images/rafael_lattes.gif"  class="img-polaroid" style="border-style:solid;" alt="" />	
			</div>
			<div class="span10" >
			<div><strong>&nbsp;Nome:</strong> Rafael Vieira da Costa Alves</div>
			<div><strong>&nbsp;Email:</strong> rafaelvc.alves@gmail.com</div>
			<div>&nbsp;<a href="http://lattes.cnpq.br/1075100377055533">Lattes</a></div>
			</div>	
    </div>
  </div>
  </div>
</div>
{% endblock %}