{% extends "main_template.html" %}

{% block content %}
<div >
	&nbsp;
</div>
<div class="container-fluid">

	<div class="row-fluid">
		<div class="span2">
			&nbsp;
		</div>
		<div class="span8">

			<!--Página-->
			<!--<h4>{{ classif.name }}</h4>-->
			&nbsp;&nbsp;&nbsp;
			<form class="form-horizontal" method="POST">
				<input type="hidden" id="about" name="about" />
				{% csrf_token %}
				<div class="control-group">
					<label class="control-label" for="inputName"> Classification :</label>
					<div class="controls">
						{{form.classification}}
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="inputName"> Name :</label>
					<div class="controls">
						{{form.name}}
					</div>
				</div>
				&nbsp;&nbsp;&nbsp;
				<div class="control-group">
					<label class="control-label" for="inputAlgorithm">About:</label>
					<div class="controls mceEditable">
						{{form.description}}
					</div>
				</div>
				<button class="btn btn-large btn-block btn-info" type="submit" id="add_alg">
					Add Algorithm
				</button>
			</form>

			<!--Página-->
		</div>
		<div class="span2">
			&nbsp;
		</div>
	</div>
</div>
{% endblock %}

