{% extends "main_template.html" %}
{% block extra-head %}
<script type="text/javascript">
$(document).ready(function(){
	$('#id_tags').chosen({
		
	});
	$('.js-add-tag').click(function(ev){
		ev.preventDefault();
		var tag = prompt("Tag name?");
		if (tag!=null){
			$.post('{% url "ajax-tag_add" %}', {'name': tag}, function(response){
				if(response.success){
					var tag = response.tag;
					$('#id_tags').append('<option value="'+tag.id+'" selected="selected">'+tag.name+'</option>');
					$('#id_tags').trigger("liszt:updated");
				} else {
					alert("Something went wrong. Please try again.")
				}
			});
		}
	});
});
</script>
{% endblock %}
{% block content %}
	<!--<h4>{{ classif.name }}</h4>-->
	&nbsp;&nbsp;&nbsp;
	<form class="form-horizontal" method="POST">
	<input type="hidden" id="about" name="about" />
	{% csrf_token %}
		<div class="control-group">
			<label class="control-label" for="inputName"> Classification :</label>
			<div class="controls">
				{{form.classification}}
				{{form.classification.errors}}
			</div>
		</div>	
		<div class="control-group">
			<label class="control-label" for="inputName"> Name :</label>
			<div class="controls">
				{{form.name}}
				{{form.name.errors}}
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="inputName"> Tags :</label>
			<div class="controls">
				<div>
					{{form.tags}}
				</div>
				<div><a href="#" class="js-add-tag">Add a new tag</a></div>
				<div>
					{{form.tags.errors}}
				</div>
			</div>
		</div>
		&nbsp;&nbsp;&nbsp;
		<div class="control-group">
			<label class="control-label" for="inputAlgorithm">About:</label>
			<div class="controls mceEditable">
				{{form.description}}
				{{form.description.errors}}
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="inputAlgorithm"></label>
			<div class="controls">
				<button class="btn btn-large btn-block btn-info submit-button" type="submit" id="add_alg">Add Algorithm</button>
			</div>
		</div>
		
	</form>

{% endblock %}