{% extends "main_template.html" %}
{% load staticfiles %}
{% block content %}
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span2"></div>
		<div class="span6">
			<h2>{{ classif.name }}</h2>
		</div>
		<div class="span2 text-right actions">
			<a href="/add/cat/id/{{classif.id}}"><img src="{% static "images/add.png" %}" height="100%"/>
				Add an algorithm
			</a>
		</div>
		<div class="span2"></div>
	</div>
</div>
<div class="container-fluid">

	<div class="row-fluid">
		<div class="span2">
			&nbsp;
		</div>
		<div class="span8">

			<!--Página-->
				<div id="classification">
					&nbsp;&nbsp;&nbsp;<a href="{{ classif.uri }}" target="_blank"> [More Information] </a></td>
					<!-- table containing algorithms with such classification -->
				</div>
				<div class="container-fluid">

	<div class="row-fluid">
		<div class="span2">
			&nbsp;
		</div>
		<div class="span8 text-center">

			<h5>Below, the top 3 algorithms:</h5>
			<div class="row-fluid">


			{% for alg in top5_algorithms %}
			{% if forloop.first %}
				<div class="span4 text-center"><img class="thumbnail img-center" src="{% static "images/star_gold.png" %}" alt="{{alg.link}}" />
					<a href="{{alg.link}}"> {{ alg.name }} </a>
				</div>
			{% endif %}
			{% if forloop.counter0 == 1 %}
				<div class="span4 text-center"><img class="thumbnail img-center" src="{% static "images/star_silver.png" %}" alt="{{alg.link}}" />
					<a href="{{alg.link}}"> {{ alg.name }} </a>
				</div>
			{% endif %}
			{% if forloop.counter0 == 2 %}
				<div class="span4 text-center"><img class="thumbnail img-center" src="{% static "images/star_bronze.png" %}" alt="{{alg.link}}" />
					<a href="{{alg.link}}"> {{ alg.name }} </a>
				</div>
			{% endif %}
			{% empty %}
				<p>
					We have no votes yet for the algorithms. <a href="/accounts/login">Be the first to vote!</a> You just need to be logged in.
				</p>
			{% endfor %}

		</div>
		<div class="span2">
			&nbsp;
		</div>
	</div>
</div>
				{% if algorithms %}
				<table id="algorithms" class="table table-bordered">
					<tr>
						<td>Other Algorithms </td>
					</tr>
					{% for alg in algorithms %}
					<tr>
						<td><a href="{{alg.link}}"> {{ alg.name }}- <!-- Reputation: {{ alg.reputation }} -->
							<span class="impl-reputation" style="float: right;" id="impl-reputation-{{ alg.reputation }}" data-reputation_value="#{{ alg.reputation }}">
					</span>

						</td>
					</tr>
					{% endfor %}
				</table>
				{% endif %}
		<!--Página-->
		</div>
		<div class="span2">
			&nbsp;
		</div>
	</div>
</div>
{% endblock %}
