{% extends "main_template.html" %}
{% block content %}
{% load endless %}
<div id="classifications">


<div class="container-fluid">
	<div class="row-fluid">
		<div class="span2"></div>
		<div class="span8">
			<h2>Classifications</h2>
		</div>
		<div class="span2"></div>
	</div>
</div>

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span2">
			&nbsp;
		</div>
		<div class="span8">
			<table class="table table-bordered" id="classifications_uri">
				{% for class in user_interested_classifications %}
				<tr>
					<td><a href="{{class.link}}"> {{ class.name }} </td>
				</tr>
				{% empty %}
				<p>
					You have not indicated any interest in classification algorithm
				</p>
				{% endfor %}
			</table>
		</div>
		<div class="span2">
			&nbsp;
		</div>
	</div>
</div>
<div>
	&nbsp;&nbsp;&nbsp;&nbsp;
</div>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span2">
			&nbsp;
		</div>
		<div class="span8">
			<div class="filters cf">
				<form action="" method="GET">
				<div class="pull-left">
					Search for: {{ filters.search }}
				</div>
				</form>
			</div>
			<table class="table table-bordered" id="classifications_uri">
				<tr>
					<td>Other Algorithms </td>
				</tr>
				{% paginate classifications %}
				{% for class in classifications %}
				<tr>
					<td><a href="{{class.link}}"> {{ class.name }} </td>
				</tr>
				{% empty %}
				<p>
					There are no classifications available.
				</p>
				{% endfor %}
			</table>
			<div class="pagination-wrapper">
			{% show_pages %}
			</div>
		</div>
		<div class="span2">
			&nbsp;
		</div>
	</div>
</div>

	
</div>
{% endblock %}