{% extends "main_template.html" %}
{% load staticfiles %}
{% block extra-head %}
<script type="text/javascript">
$(document).ready(function(){
	$('#id_classification').change(function(ev){
		$(this).closest('form').trigger('submit');
	});
});
</script>
{% endblock %}

{% block content %}

<div id="algorithms">

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span2"></div>
		<div class="span6">
			<h2>Algorithms</h2>
		</div>
		<div class="span2 text-right actions">
			<a href="/algorithm/add/"><img src="{% static "images/add.png" %}" height="100%"/>
				Add an algorithm
			</a>
		</div>
		<div class="span2"></div>
	</div>
</div>

<div class="container-fluid">
	<div class="row-fluid">

		<div class="span2"></div>
		<div class="span8">
			<div class="filters cf">
				<form action="" method="GET">
				<div class="pull-left">
					Search for: {{ filters.search }}
				</div>
				<div class="pull-right">
					Classifications: {{ filters.classification }}
				</div>
				</form>
			</div>
			<table id="classifications_uri" class="table table-bordered">
				{% for algorithm in algorithms %}
					<tr>
						<td>
							<a href="{{algorithm.link}}"/>
								{{ algorithm.name }}
								<span class="impl-reputation pull-right" id="impl-reputation-{{ algorithm.reputation }}" data-reputation_value="#{{ algorithm.reputation|default_if_none:'' }}">
								</span>
						</td>
					</tr>
					{% empty %}
					<p> There are no algorithms available. </p>
				{% endfor %}
			</table>
		</div>
		<div class="span2"></div>
	</div>
</div>

</div>
{% endblock %}
