{% extends "main_template.html" %}
{% block content %}

<div class="container-fluid">
	<div id="mynetwork"></div>
	<h3 class="text-center">AlgPedia is a <strong>free collaborative </strong>encyclopedia constructed to provide an RDF-based algorithms that can be accessed via this website or through Open Linked Data applications that process structured data. </h3>
</div>
<div class="container">
	<div class="row">
		<div class="offset2 span8 margin-top-40">
			<h4 class="text-center">Below, the top 3 algorithms:</h4>
			<div class="top-algorithms">
				{% for alg in top5_algorithms %}
				{% if forloop.first %}
					<div class="text-center">
						<img src="{{ STATIC_URL }}images/Metal-gold.png" alt="{{alg.link}}" />
						<div><a href="{{alg.link}}"> {{ alg.name }} </a></div>
					</div>
				{% endif %}	
				{% if forloop.counter0 == 1 %}
					<div class="text-center">
						<img src="{{ STATIC_URL }}images/Metal-silver.png" alt="{{alg.link}}" />
						<div><a href="{{alg.link}}"> {{ alg.name }} </a></div>
					</div>
				{% endif %}	
				{% if forloop.counter0 == 2 %}
					<div class="text-center">
						<img src="{{ STATIC_URL }}images/Metal-bronze.png" alt="{{alg.link}}" />
						<div><a href="{{alg.link}}"> {{ alg.name }} </a></div>
					</div>
				{% endif %}	
				{% empty %}
					<div>
						We have no votes yet for the algorithms. <a href="/accounts/login">Be the first to vote!</a> You just need to be logged in.
					</div>
				{% endfor %}
			</div>
		</div>
		
	</div>
</div>

    <script type="text/javascript">
      var nodesTable = null;
      var linksTable = null;
      var network = null;
      
      google.load('visualization', '1');
      
      // Set callback to run when API is loaded
      google.setOnLoadCallback(draw); 

      // Called when the Visualization API is loaded.
      function draw() {
        // Create and populate a data table.
        nodesTable = new google.visualization.DataTable();
        nodesTable.addColumn('number', 'id');
        nodesTable.addColumn('string', 'text');
        nodesTable.addColumn('number', 'group');
		
        linksTable = new google.visualization.DataTable();
        linksTable.addColumn('number', 'from');
        linksTable.addColumn('number', 'to');  

		nodesTable.addRow([1,"Fifo",4]);
		nodesTable.addRow([2,"Cycle Detection",4]);
		nodesTable.addRow([3,"Multiply With Carry",4]);
		nodesTable.addRow([4,"Random Password Generator",4]);
		nodesTable.addRow([5,"Left Recursion",4]);
		nodesTable.addRow([6,"Longitudinal Redundancy Check",4]);
		nodesTable.addRow([7,"Fast Inverse Square Root",4]);
		nodesTable.addRow([8,"Luhn Algorithm",4]);
		nodesTable.addRow([9,"Recursion",4]);
		nodesTable.addRow([10,"Minimax",4]);
		nodesTable.addRow([11,"Counting Sort",4]);
		nodesTable.addRow([12,"Gradient Descent",4]);
		nodesTable.addRow([13,"Insertion Sort",4]);
		nodesTable.addRow([14,"Merge Sort",4]);
		nodesTable.addRow([15,"Quicksort",4]);
		nodesTable.addRow([16,"Radix Sort",4]);
		nodesTable.addRow([17,"Recursion",4]);
		nodesTable.addRow([18,"Selection Sort",4]);
		nodesTable.addRow([19,"Mutual Recursion",4]);
		nodesTable.addRow([20,"Shellsort",4]);
		nodesTable.addRow([21,"Polymorphic Recursion",4]);
		nodesTable.addRow([22,"Newton's Method",4]);
		nodesTable.addRow([23,"Newton's Method",4]);
		nodesTable.addRow([24,"Fold",4]);
		nodesTable.addRow([25,"Golden Section Search",4]);
		nodesTable.addRow([26,"Linear Feedback Shift Register",4]);
		nodesTable.addRow([27,"Linear Feedback Shift Register",4]);
		nodesTable.addRow([28,"Brent's Method",4]);
		nodesTable.addRow([29,"Odd–even Sort",4]);
		nodesTable.addRow([30,"Tail Call",4]);
		nodesTable.addRow([31,"Proxmap Sort",4]);
		nodesTable.addRow([32,"Maximum Subarray Problem",4]);
		nodesTable.addRow([33,"Discrete Wavelet Transform",4]);
		nodesTable.addRow([34,"Hamming",4]);
		nodesTable.addRow([35,"Steffensen's Method",4]);
		nodesTable.addRow([36,"Multivariate Kernel Density Es",4]);
		nodesTable.addRow([37,"Viterbi Algorithm",4]);
		nodesTable.addRow([38,"Corecursion",4]);
		nodesTable.addRow([39,"Secant Method",4]);
		nodesTable.addRow([40,"Backpropagation",4]);
		nodesTable.addRow([41,"Comb Sort",4]);
		nodesTable.addRow([42,"Gnome Sort",4]);
		nodesTable.addRow([43,"Fisher–yates Shuffle",4]);
		nodesTable.addRow([44,"Infinite Loop",4]);
		nodesTable.addRow([45,"Shrinking Generator",4]);
		nodesTable.addRow([46,"Marsaglia Polar Method",4]);
		nodesTable.addRow([47,"Cycle Sort",4]);
		nodesTable.addRow([48,"American Flag Sort",4]);
		nodesTable.addRow([49,"Bitonic Sorter",4]);
		nodesTable.addRow([50,"Cma Es",4]);
		nodesTable.addRow([51,"Cma Es",4]);
		nodesTable.addRow([52,"Dutch National Flag Problem",4]);
		nodesTable.addRow([53,"Library Sort",4]);
		nodesTable.addRow([54,"Schwartzian Transform",4]);
		nodesTable.addRow([55,"Spreadsort",4]);
		nodesTable.addRow([56,"Stooge Sort",4]);
		nodesTable.addRow([57,"Strand Sort",4]);
		nodesTable.addRow([58,"Tree Sort",4]);
		nodesTable.addRow([59,"Middle Square Method",4]);
		nodesTable.addRow([60,"Batcher Odd–even Mergesort",4]);
		nodesTable.addRow([61,"Berlekamp–massey Algorithm",4]);
		nodesTable.addRow([62,"Randomized Algorithm",4]);
		nodesTable.addRow([63,"Randomized Algorithm",4]);
		nodesTable.addRow([64,"Xorshift",4]);
		nodesTable.addRow([65,"Forward–backward Algorithm",4]);
		nodesTable.addRow([66,"Forward–backward Algorithm",4]);
		nodesTable.addRow([67,"Z Order Curve",4]);
		nodesTable.addRow([68,"Convolutional Code",4]);
		nodesTable.addRow([69,"Lehmer Random Number Generator",4]);
		nodesTable.addRow([70,"Midpoint Circle Algorithm",4]);
		nodesTable.addRow([71,"Fixed Point Combinator",4]);
		nodesTable.addRow([72,"Methods Of Computing Square Ro",4]);
		nodesTable.addRow([73,"Algorithms For Calculating Var",4]);
		nodesTable.addRow([74,"Interpolation Search",4]);
		nodesTable.addRow([75,"Escape Character",4]);
		nodesTable.addRow([76,"Luhn Algorithm",4]);
		nodesTable.addRow([77,"Multiplication Algorithm",4]);
		nodesTable.addRow([78,"Cksum",4]);
		nodesTable.addRow([79,"Buzen's Algorithm",4]);
		nodesTable.addRow([80,"Minimax",4]);
		nodesTable.addRow([81,"Binary Search Algorithm",4]);
		nodesTable.addRow([82,"Computus",4]);
		nodesTable.addRow([83,"Delimiter",4]);
		nodesTable.addRow([84,"International Standard Book Nu",4]);
		nodesTable.addRow([85,"Pseudocode",4]);
		nodesTable.addRow([86,"Regular Expression",4]);
		nodesTable.addRow([87,"Rsync",4]);
		nodesTable.addRow([88,"Double Dabble",4]);
		nodesTable.addRow([89,"Diff",4]);
		nodesTable.addRow([90,"Index Mapping",4]);
		nodesTable.addRow([91,"Double Hashing",4]);
		nodesTable.addRow([92,"Ida*",4]);
		nodesTable.addRow([93,"Ida*",4]);
		nodesTable.addRow([94,"Adler 32",4]);
		nodesTable.addRow([95,"A* Search Algorithm",4]);
		nodesTable.addRow([96,"A* Search Algorithm",4]);
		nodesTable.addRow([97,"Mtd F",4]);
		nodesTable.addRow([98,"Ternary Search",4]);
		nodesTable.addRow([99,"Wang And Landau Algorithm",4]);
		nodesTable.addRow([100,"Wang And Landau Algorithm",4]);
		nodesTable.addRow([101,"Java Hashcode()",4]);
		nodesTable.addRow([102,"Md5",4]);
		nodesTable.addRow([103,"Perceptron",4]);
		nodesTable.addRow([104,"Sma*",4]);
		nodesTable.addRow([105,"Sma*",4]);
		nodesTable.addRow([106,"Fletcher's Checksum",4]);
		nodesTable.addRow([107,"Luhn Mod N Algorithm",4]);
		nodesTable.addRow([108,"Find",4]);
		nodesTable.addRow([109,"Exponentiation By Squaring",4]);
		nodesTable.addRow([110,"Pattern Matching",4]);
		nodesTable.addRow([111,"Extendible Hashing",4]);

		nodesTable.addRow([112,"Tags",2]);


		nodesTable.addRow([480,"Signals",1]);
		nodesTable.addRow([490,"Algorithm",1]);
		nodesTable.addRow([500,"George Marsaglia",1]);
		nodesTable.addRow([510,"Quake III Arena",1]);
		nodesTable.addRow([520,"Usenet",1]);
		nodesTable.addRow([530,"Recursion",1]);
		nodesTable.addRow([540,"Game theory",1]);
		nodesTable.addRow([550,"Sorting algorithm",1]);
		nodesTable.addRow([560,"Counting sort",1]);
		nodesTable.addRow([570,"Radix sort",1]);
		nodesTable.addRow([580,"Math",1]);
		nodesTable.addRow([590,"Gradient descent",1]);
		nodesTable.addRow([600,"Mathematical optimization",1]);
		nodesTable.addRow([610,"Insertion sort",1]);
		nodesTable.addRow([620,"Tony Hoare",1]);
		nodesTable.addRow([630,"Herman Hollerith",1]);
		nodesTable.addRow([640,"Mathematics",1]);
		nodesTable.addRow([650,"Shellsort",1]);
		nodesTable.addRow([660,"Donald Shell",1]);
		nodesTable.addRow([670,"Shell",1]);
		nodesTable.addRow([680,"Type inference",1]);
		nodesTable.addRow([690,"Isaac Newton",1]);
		nodesTable.addRow([700,"Numerical analysis",1]);
		nodesTable.addRow([710,"Joseph Raphson",1]);
		nodesTable.addRow([720,"Linear feedback shift register",1]);
		nodesTable.addRow([730,"Theodorus Dekker",1]);
		nodesTable.addRow([740,"Bubble sort",1]);
		nodesTable.addRow([750,"Subroutine",1]);
		nodesTable.addRow([760,"Array data structure",1]);
		nodesTable.addRow([770,"Wavelet",1]);
		nodesTable.addRow([780,"Coding theory",1]);
		nodesTable.addRow([790,"Johan Frederik Steffensen",1]);
		nodesTable.addRow([800,"Viterbi algorithm",1]);
		nodesTable.addRow([810,"Hidden Markov model",1]);
		nodesTable.addRow([820,"Newton",1]);
		nodesTable.addRow([830,"Neural network",1]);
		nodesTable.addRow([840,"Backpropagation",1]);
		nodesTable.addRow([850,"Artificial Intelligence",1]);
		nodesTable.addRow([860,"Bogosort",1]);
		nodesTable.addRow([870,"Dick Grune",1]);
		nodesTable.addRow([880,"Gnome",1]);
		nodesTable.addRow([890,"Donald Knuth",1]);
		nodesTable.addRow([900,"Frank Yates",1]);
		nodesTable.addRow([910,"Ronald Fisher",1]);
		nodesTable.addRow([920,"Operating system",1]);
		nodesTable.addRow([930,"Infinite loop",1]);
		nodesTable.addRow([940,"Busy waiting",1]);
		nodesTable.addRow([950,"Don Coppersmith",1]);
		nodesTable.addRow([960,"Algorithms",1]);
		nodesTable.addRow([970,"Ken Batcher",1]);
		nodesTable.addRow([980,"Edsger Dijkstra",1]);
		nodesTable.addRow([990,"Dutch national flag problem",1]);
		nodesTable.addRow([1000,"Edsger W. Dijkstra",1]);
		nodesTable.addRow([1010,"Perl",1]);
		nodesTable.addRow([1020,"Schwartzian Transform",1]);
		nodesTable.addRow([1030,"Programming",1]);
		nodesTable.addRow([1040,"Languages",1]);
		nodesTable.addRow([1050,"MergeSort",1]);
		nodesTable.addRow([1060,"Pseudorandomness",1]);
		nodesTable.addRow([1070,"Treap",1]);
		nodesTable.addRow([1080,"Bresenham's line algorithm",1]);
		nodesTable.addRow([1090,"Square root",1]);
		nodesTable.addRow([1100,"Metacharacter",1]);
		nodesTable.addRow([1110,"Unix",1]);
		nodesTable.addRow([1120,"Jeffrey P. Buzen",1]);
		nodesTable.addRow([1130,"Binary search algorithm",1]);
		nodesTable.addRow([1140,"Easter",1]);
		nodesTable.addRow([1150,"Middle Ages",1]);
		nodesTable.addRow([1160,"Latin",1]);
		nodesTable.addRow([1170,"Comma-separated values",1]);
		nodesTable.addRow([1180,"Delimiter",1]);
		nodesTable.addRow([1190,"Plain text",1]);
		nodesTable.addRow([1200,"W H Smith",1]);
		nodesTable.addRow([1210,"International Standard Book Number",1]);
		nodesTable.addRow([1220,"Level",1]);
		nodesTable.addRow([1230,"Regular expression",1]);
		nodesTable.addRow([1240,"File comparison",1]);
		nodesTable.addRow([1250,"Hashtable",1]);
		nodesTable.addRow([1260,"Iterative deepening depth-first search",1]);
		nodesTable.addRow([1270,"Adler-32",1]);
		nodesTable.addRow([1280,"Fletcher's checksum",1]);
		nodesTable.addRow([1290,"Combinatorics",1]);
		nodesTable.addRow([1300,"Jonathan Schaeffer",1]);
		nodesTable.addRow([1310,"David P. Landau",1]);
		nodesTable.addRow([1320,"Java",1]);
		nodesTable.addRow([1330,"Hash function",1]);
		nodesTable.addRow([1340,"Computational geometry",1]);
		nodesTable.addRow([1350,"Lawrence Livermore National Laboratory",1]);
		nodesTable.addRow([1360,"Luhn algorithm",1]);
		nodesTable.addRow([1370,"DOS",1]);
		nodesTable.addRow([1380,"Microsoft Windows",1]);

		linksTable.addRow([1,480]);
		linksTable.addRow([2,490]);
		linksTable.addRow([3,500]);
		linksTable.addRow([7,510]);
		linksTable.addRow([7,520]);
		linksTable.addRow([9,530]);
		linksTable.addRow([10,540]);
		linksTable.addRow([11,490]);
		linksTable.addRow([11,550]);
		linksTable.addRow([11,560]);
		linksTable.addRow([11,570]);
		linksTable.addRow([11,580]);
		linksTable.addRow([12,590]);
		linksTable.addRow([12,600]);
		linksTable.addRow([13,490]);
		linksTable.addRow([13,550]);
		linksTable.addRow([13,610]);
		linksTable.addRow([15,490]);
		linksTable.addRow([15,620]);
		linksTable.addRow([16,630]);
		linksTable.addRow([18,490]);
		linksTable.addRow([19,640]);
		linksTable.addRow([20,650]);
		linksTable.addRow([20,660]);
		linksTable.addRow([20,670]);
		linksTable.addRow([21,580]);
		linksTable.addRow([21,680]);
		linksTable.addRow([22,690]);
		linksTable.addRow([22,700]);
		linksTable.addRow([22,710]);
		linksTable.addRow([23,690]);
		linksTable.addRow([23,700]);
		linksTable.addRow([23,710]);
		linksTable.addRow([26,720]);
		linksTable.addRow([27,720]);
		linksTable.addRow([28,700]);
		linksTable.addRow([28,730]);
		linksTable.addRow([29,740]);
		linksTable.addRow([30,750]);
		linksTable.addRow([32,760]);
		linksTable.addRow([33,700]);
		linksTable.addRow([33,770]);
		linksTable.addRow([34,780]);
		linksTable.addRow([35,700]);
		linksTable.addRow([35,790]);
		linksTable.addRow([37,800]);
		linksTable.addRow([37,810]);
		linksTable.addRow([39,700]);
		linksTable.addRow([39,820]);
		linksTable.addRow([40,830]);
		linksTable.addRow([40,840]);
		linksTable.addRow([40,850]);
		linksTable.addRow([42,860]);
		linksTable.addRow([42,870]);
		linksTable.addRow([42,880]);
		linksTable.addRow([43,890]);
		linksTable.addRow([43,900]);
		linksTable.addRow([43,910]);
		linksTable.addRow([44,920]);
		linksTable.addRow([44,930]);
		linksTable.addRow([44,940]);
		linksTable.addRow([45,950]);
		linksTable.addRow([46,500]);
		linksTable.addRow([47,960]);
		linksTable.addRow([48,570]);
		linksTable.addRow([49,490]);
		linksTable.addRow([49,970]);
		linksTable.addRow([52,980]);
		linksTable.addRow([52,990]);
		linksTable.addRow([52,1000]);
		linksTable.addRow([53,490]);
		linksTable.addRow([53,550]);
		linksTable.addRow([53,610]);
		linksTable.addRow([54,1010]);
		linksTable.addRow([54,1020]);
		linksTable.addRow([54,1030]);
		linksTable.addRow([54,1040]);
		linksTable.addRow([55,490]);
		linksTable.addRow([56,490]);
		linksTable.addRow([56,1050]);
		linksTable.addRow([57,550]);
		linksTable.addRow([59,1060]);
		linksTable.addRow([60,970]);
		linksTable.addRow([61,490]);
		linksTable.addRow([61,720]);
		linksTable.addRow([62,1070]);
		linksTable.addRow([63,1070]);
		linksTable.addRow([64,500]);
		linksTable.addRow([70,490]);
		linksTable.addRow([70,1080]);
		linksTable.addRow([72,580]);
		linksTable.addRow([72,700]);
		linksTable.addRow([72,1090]);
		linksTable.addRow([75,1100]);
		linksTable.addRow([77,490]);
		linksTable.addRow([78,1110]);
		linksTable.addRow([79,580]);
		linksTable.addRow([79,1120]);
		linksTable.addRow([80,540]);
		linksTable.addRow([81,490]);
		linksTable.addRow([81,1130]);
		linksTable.addRow([82,1140]);
		linksTable.addRow([82,1150]);
		linksTable.addRow([82,1160]);
		linksTable.addRow([83,1170]);
		linksTable.addRow([83,1180]);
		linksTable.addRow([83,1190]);
		linksTable.addRow([84,1200]);
		linksTable.addRow([84,1210]);
		linksTable.addRow([85,490]);
		linksTable.addRow([85,1220]);
		linksTable.addRow([86,1110]);
		linksTable.addRow([86,1230]);
		linksTable.addRow([87,1110]);
		linksTable.addRow([88,490]);
		linksTable.addRow([89,1110]);
		linksTable.addRow([89,1240]);
		linksTable.addRow([90,760]);
		linksTable.addRow([91,1250]);
		linksTable.addRow([92,1260]);
		linksTable.addRow([93,1260]);
		linksTable.addRow([94,1270]);
		linksTable.addRow([94,1280]);
		linksTable.addRow([95,490]);
		linksTable.addRow([95,580]);
		linksTable.addRow([95,1290]);
		linksTable.addRow([96,490]);
		linksTable.addRow([96,580]);
		linksTable.addRow([96,1290]);
		linksTable.addRow([97,1300]);
		linksTable.addRow([98,490]);
		linksTable.addRow([99,1310]);
		linksTable.addRow([100,1310]);
		linksTable.addRow([101,1320]);
		linksTable.addRow([101,1330]);
		linksTable.addRow([103,1340]);
		linksTable.addRow([106,1350]);
		linksTable.addRow([107,490]);
		linksTable.addRow([107,1360]);
		linksTable.addRow([108,1370]);
		linksTable.addRow([108,1380]);

		linksTable.addRow([112,480]);
		linksTable.addRow([112,490]);
		linksTable.addRow([112,500]);
		linksTable.addRow([112,510]);
		linksTable.addRow([112,520]);
		linksTable.addRow([112,530]);
		linksTable.addRow([112,540]);
		linksTable.addRow([112,550]);
		linksTable.addRow([112,560]);
		linksTable.addRow([112,570]);
		linksTable.addRow([112,580]);
		linksTable.addRow([112,590]);
		linksTable.addRow([112,600]);
		linksTable.addRow([112,610]);
		linksTable.addRow([112,620]);
		linksTable.addRow([112,630]);
		linksTable.addRow([112,640]);
		linksTable.addRow([112,650]);
		linksTable.addRow([112,660]);
		linksTable.addRow([112,670]);
		linksTable.addRow([112,680]);
		linksTable.addRow([112,690]);
		linksTable.addRow([112,700]);
		linksTable.addRow([112,710]);
		linksTable.addRow([112,720]);
		linksTable.addRow([112,730]);
		linksTable.addRow([112,740]);
		linksTable.addRow([112,750]);
		linksTable.addRow([112,760]);
		linksTable.addRow([112,770]);
		linksTable.addRow([112,780]);
		linksTable.addRow([112,790]);
		linksTable.addRow([112,800]);
		linksTable.addRow([112,810]);
		linksTable.addRow([112,820]);
		linksTable.addRow([112,830]);
		linksTable.addRow([112,840]);
		linksTable.addRow([112,850]);
		linksTable.addRow([112,860]);
		linksTable.addRow([112,870]);
		linksTable.addRow([112,880]);
		linksTable.addRow([112,890]);
		linksTable.addRow([112,900]);
		linksTable.addRow([112,910]);
		linksTable.addRow([112,920]);
		linksTable.addRow([112,930]);
		linksTable.addRow([112,940]);
		linksTable.addRow([112,950]);
		linksTable.addRow([112,960]);
		linksTable.addRow([112,970]);
		linksTable.addRow([112,980]);
		linksTable.addRow([112,990]);
		linksTable.addRow([112,1000]);
		linksTable.addRow([112,1010]);
		linksTable.addRow([112,1020]);
		linksTable.addRow([112,1030]);
		linksTable.addRow([112,1040]);
		linksTable.addRow([112,1050]);
		linksTable.addRow([112,1060]);
		linksTable.addRow([112,1070]);
		linksTable.addRow([112,1080]);
		linksTable.addRow([112,1090]);
		linksTable.addRow([112,1100]);
		linksTable.addRow([112,1110]);
		linksTable.addRow([112,1120]);
		linksTable.addRow([112,1130]);
		linksTable.addRow([112,1140]);
		linksTable.addRow([112,1150]);
		linksTable.addRow([112,1160]);
		linksTable.addRow([112,1170]);
		linksTable.addRow([112,1180]);
		linksTable.addRow([112,1190]);
		linksTable.addRow([112,1200]);
		linksTable.addRow([112,1210]);
		linksTable.addRow([112,1220]);
		linksTable.addRow([112,1230]);
		linksTable.addRow([112,1240]);
		linksTable.addRow([112,1250]);
		linksTable.addRow([112,1260]);
		linksTable.addRow([112,1270]);
		linksTable.addRow([112,1280]);
		linksTable.addRow([112,1290]);
		linksTable.addRow([112,1300]);
		linksTable.addRow([112,1310]);
		linksTable.addRow([112,1320]);
		linksTable.addRow([112,1330]);
		linksTable.addRow([112,1340]);
		linksTable.addRow([112,1350]);
		linksTable.addRow([112,1360]);
		linksTable.addRow([112,1370]);
		linksTable.addRow([112,1380]);		
        
        var connectionCount = new Array();
        
        // randomly create some nodes
       /* var nodeCount = 10
        for (var i = 0; i < nodeCount; i++) {
          nodesTable.addRow([i, String(i)]);
          
          connectionCount[i] = 0;
          
          // create links in a scale-free-network way
          if (i == 1) {
            var from = i;
            var to = 0;
            linksTable.addRow([from, to]);
            connectionCount[from]++;
            connectionCount[to]++;
          }
          else if (i > 1) {
            var conn = linksTable.getNumberOfRows() * 2;
            var rand = Math.floor(Math.random() * conn);
            var cum = 0;
            var j = 0;
            while (j < connectionCount.length && cum < rand) {
              cum += connectionCount[j];
              j++;
            }
            
            var from = i;
            var to = j;
            linksTable.addRow([from, to]);
            connectionCount[from]++;
            connectionCount[to]++;
          }          
        }
*/
        // specify options
        var options = {
          'width': '100%',
          'height': '600px',
          'links': {
            'length': 100
          },
          'stabilize': false
        };

        // Instantiate our graph object.
        network = new links.Network(document.getElementById('mynetwork'));

        // Draw our graph with the created data and options 
        network.draw(nodesTable, linksTable, options);
      }
   </script>
{% endblock %}
