{% extends "main_template.html" %}
{% block content %}

<div  class="page-header">
	<h3 class="text-center">AlgPedia is a <strong>free collaborative </strong>encyclopedia constructed to provide an RDF-based algorithms that can be accessed via this website or through Open Linked Data applications that process structured data. </h3>
	<div class="container">
		<div class="row-fluid">
			<div class="offset2 span8 margin-top-40">
				<h4 class="text-center">Below, the top 3 algorithms:</h4>
				<div class="top-algorithms">
					{% for alg in top5_algorithms %}
					{% if forloop.first %}
						<div class="text-center">
							<img src="{{ STATIC_URL }}images/Metal-gold-green.png" alt="{{alg.link}}" />
							<div><a href="{{alg.link}}"> {{ alg.name }} </a></div>
						</div>
					{% endif %}	
					{% if forloop.counter0 == 1 %}
						<div class="text-center">
							<img src="{{ STATIC_URL }}images/Metal-silver-green.png" alt="{{alg.link}}" />
							<div><a href="{{alg.link}}"> {{ alg.name }} </a></div>
						</div>
					{% endif %}	
					{% if forloop.counter0 == 2 %}
						<div class="text-center">
							<img src="{{ STATIC_URL }}images/Metal-bronze-green.png" alt="{{alg.link}}" />
							<div><a href="{{alg.link}}"> {{ alg.name }} </a></div>
						</div>
					{% endif %}	
					{% empty %}
						<div>
							We have no votes yet for the algorithms. <a href="/accounts/login">Be the first to vote!</a> You just need to be logged in.
						</div>
					{% endfor %}
				</div>
			</div>
			
			
			
			
		</div>
		<div>&nbsp;&nbsp;&nbsp;&nbsp;</div>
		<div>&nbsp;&nbsp;&nbsp;&nbsp;</div>
		<div class="row-fluid">
			<div class="span6">
				<table class="table table-hover" width="70%">
					<tr>
						<td><img src="{{ STATIC_URL }}images/square-twitter.png" height="48"  width="48"/></td>
						<td><small>algpedia.dcc.ufrj.br/  is super awesome. Keep up the good work ;) #algpedia #Algorithm<br><a href="https://twitter.com/matheusrma">@matheusrma</a> November 4, 2014</small></td>
					</tr>
					<tr>
						<td><img src="{{ STATIC_URL }}images/analytics.png" height="48"  width="48"/></td>
						<td><small>Pages visualizations #40 000<br>November 3, 2014 </small></td>
					</tr>
					<tr>
						<td><img src="{{ STATIC_URL }}images/brain.png" height="48"  width="48"/></td>
						<td><small>We had a perfect grade in our presentation  for concluding Bachelor degree in Computer Science at UFRJ.<br>October 22, 2014 </small></td>
					</tr>
					<tr>
						<td><img src="{{ STATIC_URL }}images/infow.jpeg" height="48"  width="48"/></td>
						<td><small><a href="http://www.infoworld.com/article/2825055/application-development/5-sites-to-help-developers-make-a-cross-language-leap.html?fb_action_ids=720300761352055&fb_action_types=og.likes">Learning a second programming language? Try these 5 sites</a><br>October 13, 2014 </small></td>
					</tr>
					<tr>
						<td><img src="{{ STATIC_URL }}images/analytics.png" height="48"  width="48"/></td>
						<td><small>User #5000<br>October 10, 2014 </small></td>
					</tr>
					<tr>
						<td><img src="{{ STATIC_URL }}images/square-twitter.png" height="48"  width="48"/></td>
						<td><small>This is really cool, you guys are really clever!!!!!You are welcome to write about in, we will publish it :)<br><a href="https://twitter.com/yallsop">@yallsop</a> July 12, 2014</small></td>
					</tr>
					<tr>
						<td><img src="{{ STATIC_URL }}images/brain.png" height="48"  width="48"/></td>
						<td><small>AlgPedia release.<br>October 10, 2014 </small></td>
					</tr>
				</table>
			</div>
			<div class="span2">&nbsp;</div>
			<div class="span4">
			
			<table>
				<tr>
						<td align ="center"><img src="{{ STATIC_URL }}images/code.png" /><small><br>Last added Algorithms </small></td>
						<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
						<td align ="center"><img src="{{ STATIC_URL }}images/chat-icon.png" /><small><br>Last added Comment </small></td>
						<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
						<td align ="center"><img src="{{ STATIC_URL }}images/evaluation-icon.png" height="64"  width="64"/><small><br>Last evaluated Algorithms </small></td>
					</tr>
			</table>
			
			<div>&nbsp;</div><div>&nbsp;</div>
				<button class="btn btn-large btn-success" type="button">DOWNLOAD RDF DUMP</button>
				<div>&nbsp;</div>
				<button class="btn btn-large" type="button">DOWNLOAD OWL DUMP</button>
			</div>
		</div>
		
	</div>
</div>

{% endblock %}
