{% extends "main_template.html" %}
{% block content %}
	<div class="span1"></div>
	<div id="profile" class="span10">
			AlgPedia is a collaboratively edited encyclopedia to which <strong>you</strong> can contribute. These simple tips will help you become a better AlgPedia contributor.
			<div>
			&nbsp;&nbsp;&nbsp;
				<table class="table table-bordered">
				<tr>
				<td>1</td>
				<td>Do<strong> not</strong> submit jokes, you can do that on <a href="http://desciclopedia.org/"> Desciclopedia</a> 
				</tr>
				<tr>
				<td>2</td>
				<td><strong>Vandalism is prohibited.</strong> Vandalism is any addition, removal, or change of content in a deliberate attempt to compromise the integrity of AlgPedia.
				</td>
				</tr>
				<tr>
				<td>3</td>
				<td>AlgPedia's content is free for anyone to reuse, adapt, and distribute.
				</td>
				</tr>
				<tr>
				<td>4</td>
				<td>If you find a bug, please,<a href="http://localhost:8000/contact"> contact us.</a></td>
				</tr>
				<tr>
				<td>5</td>
				<td>AlgPedia does not have firm rules.<a href="http://en.wikipedia.org/wiki/Wikipedia:What_%22Ignore_all_rules%22_means">[Ignore all rules]</a>
				</td>
				</tr>
				</table>
			</div>
	</div>
	<div class="span4"></div>
{% endblock %}