
/*
 * Correções para o layout
 */

.tabs-right {
	float:right !important;
}

.accordion-heading-container {
	display:inline-block;
	width:auto;
}
.accordion-heading {
	overflow:auto;
}

.img-center{
	position:relative;
	left:40%;
	top:50%;
}
.main {
	background-color:#33CCFF;
	height: 550px;
	color:#FFFFFF;
}

.main-little {
	background-color:#33CCFF;
	height: 100px;
	float: right;
	color:#FFFFFF;
}
.space {
	height: 120px;
}
.space2 {
	height: 200px;
}

.space3 {
	height: 30px;
}

.add_evaluation-container {
	float:right;
}
.add_evaluation {
	display:inline-block;
	cursor:pointer;
}

.label-correction {
	display: inline;
	position: relative;
	top: 4px;
	padding-right: 5px;
}

#top5-list {
	padding:20px 0px;
}

.endless_page_link, .endless_page_current {
	margin-right: 5px;
}

.submit-button { width: 200px; }

.errorlist { color: #FF1E2F; }

/**
 * cf - CLEARFIX
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}
