h2 { margin-bottom: 30px; }
header { border-bottom: 1px solid #CCC; margin-bottom: 20px; padding: 10px; background-color: #F0F0F0; }
header .navigation-bar { margin-top: 30px; }
a { cursor: pointer; }
.nav-pills > li > a { padding: 10px; color: #333; }
.nav-pills > li > a:hover { background-color: #CCC; }

.top-algorithms { text-align: center; }
.top-algorithms > div { text-align: center; display: inline-block; width: 160px; margin: 0 10px; }
.top-algorithms > div > div { text-align: center; }

.contents { padding-bottom: 20px; }

.ontology{
border-top: 1px solid #CCC; 
border-bottom: 1px solid #CCC; 
margin-bottom: 20px; 
padding: 10px; 
background-color: #F0F0F0; 
height: 100px;
}

html { position: relative; min-height: 100%; }
body {
  /* Margin bottom by footer height */
  margin-bottom: 110px !important;
  
}

.centersectiontitle { 
	repeat-x scroll 0 0 transparent; 
	background-position: center; 
	margin: 10px 0 25px; 
	min-height: 20px; 
	text-align: center; 
}
.centersectiontitle h4 { 
	font-size: 23px; 
	background: #fff; 
	display: inline; 
	padding-right: 10px; 
	padding-left: 10px; 
}
.button {
   border-top: 1px solid #33877d;
   background: #33877d;
   background: -webkit-gradient(linear, left top, left bottom, from(#1e4f4a), to(#33877d));
   background: -webkit-linear-gradient(top, #1e4f4a, #33877d);
   background: -moz-linear-gradient(top, #1e4f4a, #33877d);
   background: -ms-linear-gradient(top, #1e4f4a, #33877d);
   background: -o-linear-gradient(top, #1e4f4a, #33877d);
   padding: 20px 40px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 24px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border-top-color: #1e4f4a;
   background: #1e4f4a;
   color: #ccc;
   }
.button:active {
   border-top-color: #1e4f4a;
   background: #1e4f4a;
   }

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 110px;
  /* Set the fixed height of the footer here */
  background-color: #f5f5f5;
  border-top: 2px solid #CCC;
}

.footer-inner { padding: 20px; }
.footer-inner .sponsors { float: right; }
.footer-inner .sponsors > div { margin-left: 10px; }
.footer-inner .sponsors img { max-height: 70px; }
.footer-inner .description { margin-top: 20px; float: left; }
.footer-inner .trademark { font-size: 22px; }

.pagination-wrapper { text-align: center; font-size: 20px; border: 1px solid #DDD; border-radius: 5px; padding: 10px 0; }

.actions { margin-top: 10px; }

/*
 * Correções para o layout
 */

.tabs-right {
	float:right !important;
}

.accordion-heading-container {
	display:inline-block;
	width:auto;
}
.accordion-heading {
	overflow:auto;
}

.img-center{
	position:relative;
	left:40%;
	top:50%;
}
.main {
	background-color:#33CCFF;
	height: 550px;
	color:#FFFFFF;
}

.main-little {
	background-color:#33CCFF;
	height: 100px;
	float: right;
	color:#FFFFFF;
}
.space {
	height: 120px;
}
.space2 {
	height: 200px;
}

.space3 {
	height: 30px;
}

.signup{
	display: inline-block;
	  *display: inline;
	  padding: 4px 12px;
	  margin-bottom: 0;
	  *margin-left: .3em;
	  font-size: 14px;
	  line-height: 20px;
	  color: #333333;
	  text-align: center;
	  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	  vertical-align: middle;
	  cursor: pointer;
	  background-color: #f5f5f5;
	  *background-color: #e6e6e6;
	  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
	  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
	  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
	  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
	  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
	  background-repeat: repeat-x;
	  border: 1px solid #cccccc;
	  *border: 0;
	  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	  border-bottom-color: #b3b3b3;
	  -webkit-border-radius: 4px;
		 -moz-border-radius: 4px;
			  border-radius: 4px;
	  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
	  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	  *zoom: 1;
	  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
		 -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
			  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.add_evaluation-container {
	float:right;
}
.add_evaluation {
	display:inline-block;
	cursor:pointer;
}

.label-correction {
	display: inline;
	position: relative;
	top: 4px;
	padding-right: 5px;
}

#top5-list {
	padding:20px 0px;
}

.endless_page_link, .endless_page_current {
	margin-right: 5px;
}

.submit-button { width: 200px; }

.errorlist { color: #FF1E2F; }

/**
 * cf - CLEARFIX
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

a:link {
color: #006633;
}
a:visited {
color: #003300;
}
a:hover {
color: #003300;
}
a:active {
color: #003300;
}

form.django-default { }
form.django-default label { margin-top: 10px; font-weight: bold; margin-bottom: 0; }

.global-search { position: relative; top: 5px; margin-left: 10px; border-left: 1px solid #CCC; padding-left: 20px; }
.global-search .input-append { margin-bottom: 0; }
.global-search input { width: 200px; }

.ui-autocomplete-category { font-weight: bold; font-size: 16px; background-color: #063; color: #FFF;
	padding: 7px 5px; }