/**
 * util.css
 * 
 * Generic styles build by INOA to help HTML coding
 */

/*
 * General
 */
.bold { font-weight: bold; }
.hide-soft { display: none; /* here we don't use !important as bootstrap do */ }
.inline-block { display: inline-block; }

/*
 * Colors
 */
.red { color: #990000; }
.orange { color: #C97C0A; }
.green { color: #3B801B; }

/*
 * Alignment
 */
.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }

/*
 * Width
 */
.width-full { width: 100%; }
.width-50 { width: 50px; }
.width-100 { width: 100px; }
.width-150 { width: 150px; }
.width-200 { width: 200px; }
.width-250 { width: 250px; }
.width-300 { width: 300px; }

/*
 * Font size
 */
.x-small-text { font-size: 0.65em; }
.small-text { font-size: 0.85em; }
.normal-text { }
.big-text { font-size: 1.75em; }
.x-big-text { font-size: 2em; }

/*
 * Tables
 */
.table-fixed { table-layout: fixed; }  /* same width for all columns */

/*
 * Margins
 */
.no-margin { margin: 0 !important; }

.margin-bottom-0 { margin-bottom: 0; }
.margin-bottom-5 { margin-bottom: 5px; }
.margin-bottom-10 { margin-bottom: 10px; }
.margin-bottom-15 { margin-bottom: 15px; }
.margin-bottom { margin-bottom: 20px; }
.margin-bottom-30 { margin-bottom: 30px; }
.margin-bottom-40 { margin-bottom: 40px; }

.margin-top-0 { margin-top: 0; }
.margin-top-5 { margin-top: 5px; }
.margin-top-10 { margin-top: 10px; }
.margin-top-15 { margin-top: 15px; }
.margin-top { margin-top: 20px; }
.margin-top-30 { margin-top: 30px; }
.margin-top-40 { margin-top: 40px; }

.margin-left-0 { margin-left: 0; }
.margin-left-5 { margin-left: 5px; }
.margin-left-10 { margin-left: 10px; }
.margin-left-15 { margin-left: 15px; }
.margin-left { margin-left: 20px; }
.margin-left-30 { margin-left: 30px; }
.margin-left-40 { margin-left: 40px; }

.margin-right-0 { margin-right: 0; }
.margin-right-5 { margin-right: 5px; }
.margin-right-10 { margin-right: 10px; }
.margin-right-15 { margin-right: 15px; }
.margin-right { margin-right: 20px; }
.margin-right-30 { margin-right: 30px; }
.margin-right-40 { margin-right: 40px; }

/*
 * Paddings
 */
.no-padding { padding: 0; }

.padding-bottom-0 { padding-bottom: 0; }
.padding-bottom-5 { padding-bottom: 5px; }
.padding-bottom-10 { padding-bottom: 10px; }
.padding-bottom-15 { padding-bottom: 15px; }
.padding-bottom { padding-bottom: 20px; }
.padding-bottom-30 { padding-bottom: 30px; }
.padding-bottom-40 { padding-bottom: 40px; }

.padding-top-0 { padding-top: 0; }
.padding-top-5 { padding-top: 5px; }
.padding-top-10 { padding-top: 10px; }
.padding-top-15 { padding-top: 15px; }
.padding-top { padding-top: 20px; }
.padding-top-30 { padding-top: 30px; }
.padding-top-40 { padding-top: 40px; }

.padding-left-0 { padding-left: 0; }
.padding-left-5 { padding-left: 5px; }
.padding-left-10 { padding-left: 10px; }
.padding-left-15 { padding-left: 15px; }
.padding-left { padding-left: 20px; }
.padding-left-30 { padding-left: 30px; }
.padding-left-40 { padding-left: 40px; }

.padding-right-0 { padding-right: 0; }
.padding-right-5 { padding-right: 5px; }
.padding-right-10 { padding-right: 10px; }
.padding-right-15 { padding-right: 15px; }
.padding-right { padding-right: 20px; }
.padding-right-30 { padding-right: 30px; }
.padding-right-40 { padding-right: 40px; }

/**
 * cf - CLEARFIX
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after { content: " "; /* 1 */ display: table; /* 2 */ }
.cf:after { clear: both; }
/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf { *zoom: 1; }
